:root{
    --bg-black: rgb(37, 37, 37);
    --color-font--white: rgb(238, 238, 238);
}

body {
    margin: 0;
}
.barraNav {
    background-color: var(--bg-black);
    width: 102%;
    margin-right: -30px;
}

.barraNav img {
    height: 45px;
}

.barraNav a {
    display: inline-block;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 7px;
}

.homeCont {
    width: 400px;
    max-width: 500px;

}

.selectorContainer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.detallesPokemon {
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.44);
    border: solid 1px #ccc;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.detallesPokemon img {
    width:200px;
}

.pokeName {
    font-weight: 900;
    list-style: none;
    font-size: 1.5em;
    text-decoration: underline;
}

.tituloDetalle{
    list-style: none;
}

.tituloDetalle span{
    font-weight: 700;
    line-height: 35px;
}


.active {
    text-decoration: none;
    background-color: rgb(255, 154, 40);
    color: var(--color-font--white);
}
    
.inactive {
    text-decoration: none;
    background-color: cornsilk;
    color: var(--bg-black);
}